html {
  .v-theme--light,
  .v-theme--dark {
    --v-theme-primary: 54,145,95;
    --v-theme-secondary: 54,145,95;
  }

  .v-theme--light {
    --v-theme-palette-background-darker-xx: #fff;
    --v-theme-palette-background-darker: #fff;
    --v-theme-header: 224 225 229;
    --v-theme-navigation: 238 239 241;
    --v-theme-surface: 255 255 255;
    --v-theme-background: 243 244 245;
    --v-theme-palette-background-medium: #fff;
    --v-theme-palette-background: #313338;
    --v-border-color: #ddd;
  }

  .v-theme--dark {
    --v-theme-palette-dark-xx: 43 45 49;

    --v-theme-palette-background-darker-xx: #1e1f22;
    --v-theme-palette-background-darker-x: #232428;
    --v-theme-palette-background-darker: #1e1f22;
    --v-theme-header: 30 31 34;
    --v-theme-navigation: var(--v-theme-palette-dark-xx);
    --v-theme-surface: 49 51 56;
    --v-theme-palette-background-medium: #2b2d31;
    --v-theme-palette-background: #313338;
    --v-theme-background: 40 42 46;
    --v-border-color: #282828;

    &.v-overlay .v-overlay__scrim {
      background: #2d2d2d;
    }
  }
}